<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#.</th>
            <th>Pizza neve</th>
            <th>Leírás</th>
            <th>Kalória</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(i, pizza) in pizzas">
            <td>{{i+1}}.</td>
            <td>{{pizza.name}}</td>
            <td>{{pizza.description}}</td>
            <td>{{pizza.kcal}}</td>
            <td>
                <button ng-click="deletepizza(pizza.id)" class="btn btn-danger">Törlés</button>
                <a class="btn btn-warning" href="#!/update/{{pizza.id}}">Módosítás</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="table-primary">
            <td><a href="#!/add" class="btn btn-primary bg-gradient">+</a></td>
            <td colspan="3"></td>
            <td>Összesen: {{pizzas.length}} db</td>
        </tr>
    </tfoot>
</table>